*{
    margin: 0;
    padding: 0;
  }
  
  .wrapper{
    background-image: url(/src/components/programming.svg);
    overflow-x: hidden;
    overflow-y: auto;   
    background-repeat: no-repeat; 
    margin-left: 94px;
    height: 680px;
  }
  
  .img{
    width: 2%;
    height: auto;
  }
  
  .wrapper h1{
    margin-top: -9px;
    text-align: center;
    margin-left: 852px;
  
  }
  
  .wrapper p{
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
    margin-left: 860px;
  }
  
  .wrapper .main{
    display: flex;
    margin-top: -39px;
    align-items: center;
  }
  
  .wrapper .form-container{
    width: 395px;
    height: 440px;
    background-color: #e4e4e4;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;  
    margin-left: 944px
  }
  
  .wrapper .form-container .btn{
    width: 60%; 
    margin-left: 77px; 
    border-radius: 8px; 
  }
  
  .wrapper .view-container{
    width: 572PX;    
    background-color: #e4e4e4;
    margin: 20px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -118PX;
  }
  
  .delete-btn{
    color: red;
    cursor: pointer;
  }
  
  tbody{
    margin-top: 25px;
  }
  